.card-container {
  display: grid;
}

#prison-post-header {
  color: white;
  background: #3f51b5;
  margin: 0px;
}

#prison-post-header div span {
  color: white;
  font-size: 2rem;
}

.mid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.view-profile-container {
  justify-self: end;
  display: grid;
  justify-items: center;
}

.address-container {
  margin-top: 50px;
}

.available-workers {
  margin-top: 20px;
}

.available-workers p {
  color: red;
  font-size: 1rem;
}
.space {
  margin-top: 10px;
}

.contact-image1 {
  width: 27px;
  height: 27px;
}

.contact-image2 {
  width: 50px;
  height: 50px;
}

.contact-image3 {
  width: 55px;
  height: 55px;
}

.contact-info-container {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.contact-info-header {
  font-size: 2rem;
  font-weight: 800;
  align-self: center;
}

.span-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-content: center;
}

.address-text {
  font-size: 1rem;
}
.edit-wrapper {
  display: grid;
  text-decoration: underline;
}

.edit-delete-container {
  display: grid;
  grid-template-columns: repeat(2, 0.08fr);
  justify-items: flex-start;
}

.edit-icon {
  justify-self: center;
  font-size: 0.6rem;
}

.Posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
